<div class="navigation">
    
    <ul>
        <li>
            <a [routerLink]="['/']">
                <span class="icon"><fa-icon [icon]="faHome"></fa-icon></span>
                <span class="title">Home</span>
            </a>
        </li>
        <li>
            <a [routerLink]="['/user-profile']">
                <span class="icon"><fa-icon [icon]="faUser"></fa-icon></span>
                <span class="title">Profile</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="icon"><fa-icon [icon]="faPencilAlt"></fa-icon></span>
                <span class="title">Edit</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="icon"><fa-icon [icon]="faComment"></fa-icon></span>
                <span class="title">Messages</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="icon"><fa-icon [icon]="faUsers"></fa-icon></span>
                <span class="title">Friends</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="icon"><fa-icon [icon]="faBell"></fa-icon></span>
                <span class="title">Notifications</span>
            </a>
        </li>
    </ul>
</div>
