@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import '~@ctrl/ngx-emoji-mart/picker';
*{
    font-family: 'Poppins', sans-serif;   
}

html, body { height: 100%; }
body { margin: 0;  }
