<div>
    <app-menu-profile></app-menu-profile>
</div>
<div class="container">
    <mdb-card class="chat-room">
        <mdb-card-body class="grey lighten-3">
            <div class="row px-lg-2 px-2">
                <div class="col-md-6 col-xl-4 px-0 friends-list-margin">
                    <mat-card class=" friend-list white z-depth-1 px-3 pt-3 pb-0" *ngFor="let users of userArray">
                        <mat-card-header>
                            <div mat-card-avatar class="example-header-image">
                                <img mat-card-avatar 
                                     class="example-header-image" 
                                     [src]="users.imagePath" alt="">
                            </div>
                            <mat-card-title>{{users.name}}</mat-card-title>
                            <mat-card-subtitle>{{users.firstName}} {{users.lastName}}</mat-card-subtitle>

                            <button mat-button class="btn-view" (click)="selectUserForMessage(users)">Send Message</button>
                        </mat-card-header>
                    </mat-card>
                </div>
                <div class="col-md-6 col-xl-4 px-0">
                    <div class="page-content page-container" id="page-content">
                        <div class="padding">
                            <div class="row container d-flex justify-content-lg-start">
                                <div class="col-md-6">
                                    <div class="card card-bordered">
                                        <div class="card-header">
                                            <h4 class="card-title"><strong>Send Messages</strong></h4> 
                                            <button class="btn btn-xs btn-secondary"
                                                    [disabled]="userText.length === 0 
                                                             || messageInfo.userNameResponse === undefined 
                                                             || userText.trim().length < 2 || messageInfo.isInFriends === false" 
                                                    (click)="sendMessage()" 
                                                    data-abc="true">Send
                                            </button>
                                        </div>
                                        <div ngx-auto-scroll observe-attributes class="ps-container ps-theme-default ps-active-y ps-container-div" id="chat-content" style="overflow-y: scroll !important;">
                                            
                                            <div  class="media media-chat" *ngFor="let msg of messageAllArray"> 
                                                <img class="avatar" [src]="msg.userImageResponse" alt="...">
                                                
                                                <div class="media-body">
                                                    <p>{{msg.text }}</p>
                                                    <p>{{msg.time}}</p>
                                                    
                                                </div>
                                            </div>
                                            <div *ngIf="messagesEmpty">
                                                <div  class="media media-chat"> 
                                                    <div class="media-body">
                                                        <p>Empty. Select a user and start messaging with him :)</p>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="ps-scrollbar-x-rail ps-scrollbar-div">
                                                <div class="ps-scrollbar-x ps-scrollbar-w" tabindex="0"></div>
                                            </div>
                                            <div class="ps-scrollbar-y-rail ps-scrollbar-y-div" >
                                                <div class="ps-scrollbar-y ps-scrollbar-y-s" tabindex="0"></div>
                                            </div>
                                        </div>
                                        <div class="container-emoji">
                                            <div class="publisher bt-1 border-light bg-input"> 
                                                <img class="avatar avatar-xs" [src]="userAccountCurrentData.imagePath" alt="...">
                                                <input class="publisher-input" 
                                                       type="text" 
                                                       placeholder="Write something..."
                                                       [(ngModel)]="userText"
                                                       /> 
    
                                                       <button class="emoji-btn" (click)="isEmojiPickerVisible = !isEmojiPickerVisible;">😀</button>
                                                        
                                                       <!-- <span class="publisher-btn file-group"> 
                                                           <i class="fa fa-paperclip file-browser"></i> 
                                                           <input type="file"> 
                                                        </span> 
                                                        <a class="publisher-btn" 
                                                           href="#" data-abc="true">
                                                           <i class="fa fa-smile"></i>
                                                        </a> 
                                                        <a class="publisher-btn text-info" 
                                                           href="#" data-abc="true">
                                                           <i class="fa fa-paper-plane"></i>
                                                        </a>  -->
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <emoji-mart class="emoji-mart " *ngIf="isEmojiPickerVisible" (emojiSelect)="addEmoji($event)" title="Choose your emoji"></emoji-mart>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </mdb-card-body>
    </mdb-card>
</div>