<div class="body">
  <app-menu-profile></app-menu-profile>

<div *ngIf="userAccountCurrentData === undefined; else elseBlock" >
  <mat-progress-spinner class="progress-spinner-align" mode="indeterminate"></mat-progress-spinner>
</div>
<ng-template #elseBlock>

  <mat-card class="example-card">
    <mat-card-content>
      <img mat-card-image
      class="img-content"  
      [src]="userAccountCurrentData.imagePath" 
      alt="User Photo">

      <mat-card-header>
        <div mat-card-avatar class="example-header-image"><img mat-card-avatar class="example-header-image" [src]="userAccountCurrentData.imagePath" alt=""></div>
        <mat-card-title>{{userAccountCurrentData.firstName}} {{userAccountCurrentData.lastName}}</mat-card-title>
        <mat-card-subtitle>{{userAccountCurrentData.name}}</mat-card-subtitle>
      </mat-card-header>

      <mat-card-subtitle>Birthday: {{userAccountCurrentData.date}}</mat-card-subtitle>
      <mat-card-subtitle>About Me: {{userAccountCurrentData.aboutMe}}</mat-card-subtitle>

    </mat-card-content>
  </mat-card>

  <mat-card class="post-card-create">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"><img mat-card-avatar class="example-header-image" [src]="userAccountCurrentData.imagePath" alt=""></div>
      <button mat-button 
              class="post-create" (click)="postCreate()">What`s on your mind?</button>
    </mat-card-header>
    <mat-card-subtitle class="text-create-post-sub">Click to create a post.</mat-card-subtitle>
    
  </mat-card>


  <div *ngIf="postsGet.length !== 0">

    <div class="post-hr-align">
      <hr class="post-hr">
    </div>
    

    <div class="post-card">
      
      <mat-card class="post-content" *ngFor="let post of postsGet">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"><img mat-card-avatar class="example-header-image" [src]="userAccountCurrentData.imagePath" alt=""></div>
          <mat-card-title>{{userAccountCurrentData.firstName}} {{userAccountCurrentData.lastName}}</mat-card-title>
          <mat-card-subtitle>{{post.partitionKey}}</mat-card-subtitle>
        </mat-card-header>
        
        <div *ngIf="post.nameContent !== null">
          <mat-card-content class="post-image-content">
            <img mat-card-image
                 class="post-img"  
                 [src]="post.nameContent">
            <video autoplay muted loop class="post-img" [src]="post.nameContent"></video>
          </mat-card-content>
        </div>
        <div>
            <mat-card-content>
              <mat-card-title class="post-text-content">{{post.postText}}</mat-card-title>
            </mat-card-content>
        </div>

        <div>

          <div *ngIf="commentPostArray.length !== 0">
            <div><hr></div>
            <mat-card-content>

              <div *ngFor="let comment of commentPostArray">
                <div *ngIf="comment.contentName === post.nameContent">
                  <mat-card-header  class="comment-field">
                    <div mat-card-avatar class="example-header-image"><img mat-card-avatar class="example-header-image" [src]="comment.userImage" alt=""></div>
                    <mat-card-title class="comment-post-text-content">{{comment.text}}</mat-card-title>
                    
                  </mat-card-header>
                  <mat-card-subtitle class="comment-post-subtext-content">{{comment.partitionKey}}</mat-card-subtitle>
                </div>
              </div>
            </mat-card-content>
          </div>
  
          </div>

          <mat-card-content>
            <input matInput #textComment 
                   placeholder="Write a comment..."
                   type="text"
                   class="comment-input"
                   name="" 
                   (blur)="commentSend(post, textComment.value); textComment.value='' ">
            <button mat-stroked-button 
                    color="black"
                    [disabled]="textComment.value === '' "
                    class="comment-btn" (click)="commentSend(post, textComment.value)">Send</button>
          </mat-card-content>
        
      </mat-card>
    </div>
  </div>
  
</ng-template>
</div>
  
