  <section>
    <div class="container">
      <mat-card class="contactinfo">
        <div>
          <h2>Sign In</h2>
          <ul class="info">
            <li>
              <span></span>
              <span>Social Network</span>
            </li>
          </ul>
        </div>
      </mat-card>
      <mat-card class="contactFrom">
        
        <h2>Fill Personal Data</h2>
        <div>
          <form class="formBox" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <mat-card-content>

              <div class="example-form">
                <mat-form-field class="example-full-width">
                  <mat-label>Nickname *</mat-label>
                  <input type="text" #textNickname
                         matInput 
                         formControlName="name" 
                         placeholder="Example: john">
                  <mat-hint *ngIf="textNickname.value === ''" class="text-invalid">Nickname is <strong>required!</strong></mat-hint>
                </mat-form-field>
              </div>

              <div class="example-form">
                <mat-form-field class="example-full-width">
                  <mat-label>Password *</mat-label>
                  <input type="password" #textPassword
                         matInput 
                         formControlName="password" 
                         placeholder="Example: qwerty_1234">
                  <mat-hint *ngIf="textPassword.value === ''" class="text-invalid">Password is <strong>required!</strong></mat-hint>
                  <mat-hint *ngIf="loginForm.controls['password'].hasError('minlength')"><span class="text-invalid">Password must be at least <strong>8 characters!</strong></span></mat-hint>
                </mat-form-field>
              </div>

              <div> 
                <button color="black"
                        class="submit"
                        [disabled]="textPassword.value === '' 
                                 && textNickname.value === ''" class="submit" value="Send">Sign In</button>
              </div>
            </mat-card-content>
          
          </form>
        </div>
      </mat-card>
    </div>
  </section>