<header>
    <mat-toolbar color="" class="margin-bottom navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-black border-bottom box-shadow mb-3">
      <div class="container color-items">
        <div><a class="navbar-brand" [routerLink]="['/']">Social Network</a></div>
        <ul class="navbar-nav flex-grow">
          <li class="nav-item" [routerLinkActive]='["link-active"]'>
            <a class="nav-link text-dark" *ngIf="!userData.isLoggedIn" [routerLink]='["/login"]'>Sign In</a>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]'>
            <a class="nav-link text-dark" *ngIf="!userData.isLoggedIn" [routerLink]='["/register"]'>Sign Up</a>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]'>
            <a class="nav-link text-dark" *ngIf="userData.isLoggedIn && userData.role===userRole.User" [routerLink]='["/user-profile"]' [routerLink]=''>Profile</a>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]'>
            <a class="nav-link text-dark" *ngIf="userData.isLoggedIn && userData.role===userRole.Admin" [routerLink]='["/admin-home"]' [routerLink]=''>Admin Profile</a>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]'>
            <a class="nav-link text-dark" *ngIf="userData.isLoggedIn" (click)=logout() [routerLink]=''>Sign Out</a>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]' *ngIf="userData.isLoggedIn">
            <a class="nav-link text-dark">Welcome <b>{{userData.name}}</b> </a>
          </li>
        </ul>
      </div>
    </mat-toolbar>
  </header>
