<section>
    <div class="container">
      <mat-card class="contactinfo">
        <div>
          <h2>Sign Up</h2>
          <ul class="info">
            <li>
              <span><fa-icon [icon]="faUserCircle"></fa-icon></span>
              <span>Social Network</span>
            </li>
          </ul>
        </div>
      </mat-card>
      <mat-card class="contactFrom">
        
        <h2>Fill Personal Data</h2>
        <div>
          <form class="formBox" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <mat-card-content>
          
          <div class="example-form">
                <mat-form-field class="example-full-width">
                  <mat-label>First Name *</mat-label>
                  <input type="text" #textFirstName
                         matInput 
                         formControlName="firstName" 
                         placeholder="Example: John">
                  <mat-hint *ngIf="textFirstName.value === ''" class="text-invalid">First Name is <strong>required!</strong></mat-hint>
                </mat-form-field>
          </div>

          <div class="example-form">
            <mat-form-field class="example-full-width">
              <mat-label>Last Name *</mat-label>
              <input type="text" #textLastName
                     matInput 
                     formControlName="lastName" 
                     placeholder="Example: Jonson">
              <mat-hint *ngIf="textLastName.value === ''" class="text-invalid">Last Name is <strong>required!</strong></mat-hint>
            </mat-form-field>
          </div>
          
          <div class="example-form">
            <mat-form-field class="example-full-width">
              <mat-label>Nickname *</mat-label>
              <input type="text" #textNickname
                     matInput 
                     formControlName="name" 
                     placeholder="Example: john">
              <mat-hint *ngIf="textNickname.value === ''" class="text-invalid">Nickname is <strong>required!</strong></mat-hint>
            </mat-form-field>
          </div>

          <div class="example-form">
            <mat-form-field class="example-full-width">
              <mat-label>Email Address *</mat-label>
              <input type="email" #textEmail
                     matInput 
                     formControlName="email" 
                     placeholder="Example: john@gmail.com">
              <mat-hint *ngIf="textEmail.value === ''" class="text-invalid">Email Address is <strong>required!</strong></mat-hint>
              <mat-hint *ngIf="textEmail.value !== '' && registerForm.controls['email'].hasError('email')" class="text-invalid">Email Address is <strong>incorrect!</strong></mat-hint>
            </mat-form-field>
          </div>

          <div class="example-form">
            <mat-form-field class="example-full-width">
              <mat-label>Password *</mat-label>
              <input type="password" #textPassword
                     matInput 
                     formControlName="password" 
                     placeholder="Example: qwerty_1234">
              <mat-hint *ngIf="textPassword.value === ''" class="text-invalid">Password is <strong>required!</strong></mat-hint>
              <mat-hint *ngIf="registerForm.controls['password'].hasError('minlength')"><span class="text-invalid">Password must be at least <strong>8 characters!</strong></span></mat-hint>
            </mat-form-field>
          </div>

          <div class="example-form">
            <mat-form-field class="example-full-width">
              <mat-label>Confirm Password *</mat-label>
              <input type="password" #textConfirmPassword
                     matInput 
                     formControlName="confirmPassword" 
                     placeholder="Example: qwerty_1234">
              <mat-hint *ngIf="textConfirmPassword.value === ''" class="text-invalid">Confirm Password is <strong>required!</strong></mat-hint>
              <mat-hint *ngIf="textConfirmPassword.value !== '' && textPassword.value !== textConfirmPassword.value"><span class="text-invalid">Password is not <strong>equal!</strong></span></mat-hint>
            </mat-form-field>
          </div>

          <div class="example-form">
            <mat-form-field class="example-full-width">
              <mat-label>Birthday *</mat-label>
              <input type="date" #textBirthday
                     matInput 
                     formControlName="date" 
                     placeholder="Example: qwerty_1234">
              <mat-hint *ngIf="textBirthday.value === ''" class="text-invalid">Birthday is <strong>required!</strong></mat-hint>
              <mat-hint *ngIf="textBirthday.value !== '' isDateGreater"><span class="text-invalid">Invalid <strong>date!</strong></span></mat-hint>
            </mat-form-field>
          </div>

          <div class="example-form">
            <div class="example-full-width">
              <button type="button" class="image-btn" mat-raised-button (click)="fileInput.click()">Upload Image</button>
              
              <input #fileInput
                    hidden
                   class="image-upload-input"
                   (change)="fileOptions($event)" 
                   type="file"
                   [ngClass]="{ 'is-invalid': fileInput.value === '' }"
                   accept="image/*">    
            <div *ngIf="fileInput.value === ''" class="invalid-feedback">    
              <div *ngIf="fileInput.value === ''"><span class="text-invalid">Image is <strong>required!</strong></span></div>    
            </div>
            </div>
          </div>
          
          <div class="example-form textarea-margin">
            <mat-form-field class="example-full-width"  color="accent">
              <mat-label>Write about you</mat-label>
              <textarea matInput #textAboutMe name=""
                      formControlName="aboutMe" placeholder="Example: Hello my name is John!"
                      required></textarea>
            
            <mat-hint  *ngIf="textAboutMe.value === ''" class="text-invalid">About you is <strong>required!</strong></mat-hint> 
            </mat-form-field>
            
          </div>

          <button 
                color="black"
                class="submit"
                [disabled]="textFirstName.value === '' 
                         && textLastName.value === '' 
                         && textEmail.value === ''
                         && textBirthday.value === ''
                         && textNickname.value === ''
                         && textPassword.value === ''
                         && textConfirmPassword.value === ''
                         && selectedFile === undefined
                         && textAboutMe.value === ''" 
                >Sign Up</button>
        </mat-card-content>
          </form>
        </div>
      </mat-card>
    </div>
  </section>